<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View ALl Shippings </title>
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/img/favicon.png}">
    <link rel="stylesheet"  th:href="@{~/css/tablestyle.css}">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"  th:href="@{~/css/style.min.css}">

    <style>
        .edit{
            background-color: #5041BC;
            border-radius:20px ;
            padding-top:7px ;
            padding-bottom:7px ;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div th:replace="AdminFrag/AdminNavigation.html :: navigation"></div>

<div class="Main-wrapper" style="margin-left: 17%">

    <div style="overflow-x:scroll;">
    <table style="overflow: scroll" id="table_id">
        <thead>
        <tr>
            <th>Order_ID</th>
            <th>Full Name</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Street Address</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shipping:${allshipping}">
            <td th:text="${shipping.id}"></td>
            <td th:text="${shipping.fullname}"></td>
            <td th:text="${shipping.city}"></td>
            <td th:text="${shipping.state}"></td>
            <td th:text="${shipping.zipcode}"></td>
            <td th:text="${shipping.streetaddress}"></td>
<!--            <td> <a class="edit" th:href="@{~/admin/deleteshipping/}+${shipping.id}" >Delete</a></td>-->

        </tr>
        </tbody>

    </table>

        <script
                type="text/javascript"
                charset="utf8"
                src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"
        ></script>
        <script
                type="text/javascript"
                charset="utf8"
                src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js">
            document.getElementsByClassName()
        </script>
        <script>
            $(function() {
                $("#table_id").dataTable();
            });
        </script>


</div>
</div>

<script th:src="@{~/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{~/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{~/js/app-style-switcher.js}"></script>
<script th:src="@{~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{~/js/waves.js}"></script>
<script th:src="@{~/js/sidebarmenu.js}"></script>
<script th:src="@{~/js/custom.js}"></script>

</body>
</html>